<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="~/Public/css/bootstrap.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Public/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Public/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Public/css/index.css">
    <link rel="stylesheet" href="~/Public/css/style.css">
</head>
<body>
    <section class="header">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="top-selects">
                            <ul>
                                <li>
                                    <select name="language" id="">
                                        <option value="">English</option>
                                        <option value="">Russian</option>
                                        <option value="">Azerbaijani</option>
                                    </select>
                                </li>
                                <li>
                                    <select name="money" id="">
                                        <option value="">$Usd</option>
                                        <option value="">Rubl</option>
                                        <option value="">Azn</option>
                                    </select>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="top-user">
                            <ul>
                                <li>
                                    <a href="">
                                        <div class="user-icon">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                        </div>
                                        <div class="user-name">
                                            <p>Login </p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <div class="user-icon">
                                            <i class="fa fa-lock" aria-hidden="true"></i>
                                        </div>
                                        <div class="user-name">
                                            <p>Signup</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="bottom-menu">
                            <div class="menu-icon">
                                <a href="@Url.Action("index","home")">
                                    <img src="~/Public/img/logo.png" alt="">
                                </a>
                            </div>
                            <div class="menu-icons">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="menu-navbar">
                                <ul>
                                    <li>
                                        <a href="@Url.Action("index","home")">HOME</a>
                                    </li>
                                    <li>
                                        <a href="">
                                            DEALS
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            COUPONS
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            BLOG
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            PAGES
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            STORES
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            CONTACT US
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <nav class="navbar navbar-toggleable-md navbar-light ">
                                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="#">
                                                Home
                                                <span class="sr-only">(current)</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"> DEAL </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="#"> BLOG </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="#"> PAGES </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="#"> STORES </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="#"> CONTACT US </a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @RenderBody()

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-top">
                        <div class="top-name">
                            <p>
                                SIGN UP FOR
                                <span>
                                    NEWSLETTER
                                </span>
                            </p>
                        </div>
                        <div class="top-input">
                            <input type="text" placeholder="Enter E-mail address">
                            <a href="">Submit</a>
                        </div>
                        <div class="top-links">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-skype" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-pinterest-square" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-bottom">
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="footer-logo">
                                    <a href="#">
                                        <img src="~/Public/img/footer-logo.png" alt="">
                                    </a>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum
                                        has been the industry's the standard dummy
                                    </p>
                                    <img src="~/Public/img/payment-icon.png" alt="">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12 col-xs-12">
                                <h4>
                                    information

                                    <p>
                                        <a href="#">about us</a>
                                    </p>
                                    <p>
                                        <a href="#">about us</a>
                                    </p>
                                    <p>
                                        <a href="#">about us</a>
                                    </p>
                                    <p>
                                        <a href="#">about us</a>
                                    </p>
                                    <p>
                                        <a href="#">about us</a>
                                    </p>
                                </h4>
                            </div>
                            <div class="col-md-2 col-sm-12 col-xs-12">
                                <h4>
                                    information

                                    <p>
                                        <a href="#">about us</a>
                                    </p>
                                    <p>
                                        <a href="#">about us</a>
                                    </p>
                                    <p>
                                        <a href="#">about us</a>
                                    </p>
                                    <p>
                                        <a href="#">about us</a>
                                    </p>
                                    <p>
                                        <a href="#">about us</a>
                                    </p>
                                </h4>
                            </div>
                            <div class="col-md-2 col-sm-12 col-xs-12">
                                <h4>
                                    information

                                    <p>
                                        <a href="#">about us</a>
                                    </p>
                                    <p>
                                        <a href="#">about us</a>
                                    </p>
                                    <p>
                                        <a href="#">about us</a>
                                    </p>
                                    <p>
                                        <a href="#">about us</a>
                                    </p>
                                    <p>
                                        <a href="#">about us</a>
                                    </p>
                                </h4>
                            </div>
                            <div class="col-md-2 col-sm-12 col-xs-12">
                                <h4>
                                    information

                                    <p>
                                        <a href="#">about us</a>
                                    </p>
                                    <p>
                                        <a href="#">about us</a>
                                    </p>
                                    <p>
                                        <a href="#">about us</a>
                                    </p>
                                    <p>
                                        <a href="#">about us</a>
                                    </p>
                                    <p>
                                        <a href="#">about us</a>
                                    </p>
                                </h4>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>

    </footer>
    <script src="~/Public/js/jquery-3.2.1.min.js"></script>
    <script src="~/Public/js/owl.carousel.min.js"></script>
    <script src="~/Public/https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="~/Public/js/bootstrap.js"></script>
    <script src="~/Public/js/script.js"></script>
</body>
</html>
