
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 style="padding:150px 0px">Xow Gelmisiz Email tesdiq olana geder gozleyin</h2>
        </div>
    </div>
</div>


